<section>
    <div id="{{ namespace }}init">
        <header class="major">
            <h2>Initialiser une Map</h2>
        </header>
        <div id="map"></div>
        <p>Voici la function à utiliser pour créer une carte avec le MapBundle. </p>
        <p>Pour notre exemple, nous avons extrait la function initialize d'une vue Backbone.</p>
        <div>
            <pre>
                initialize: function()
                {
                    this.mapView = new ctpMap();
                    this.helper = new ctpHelperView();
                    // creation d'une carte avec les paramètres obligatoires
                    var options = {
                        'divId': 'map', //map div id
                        'centerX': 47.219014,
                        'centerY': -1.553714,
                        'zoom': 12
                    };
                    this.helper.addStyleToElement('#'+ options.divId, 'height:300px; width:100%');
                    var mapCollection = this.helper.createMapCollection(options);
                    this.mapView.createMap(mapCollection);
                }
            </pre>
        </div>
    </div>
</section>
<section>
    <div id="{{ namespace }}marker">
        <header class="major">
            <h2>Afficher un Marker</h2>
        </header>
        <div id="marker"></div>
        <p>Voici un exemple de fonction à utiliser pour créer des markers sur la carte. </p>
        <div>
            <pre>
                createMarkersOnMap: function()
                {
                    var mapOptions = {
                        'divId': 'marker',
                        'centerX': 47.219014,
                        'centerY': -1.553714,
                        'zoom': 12
                    };
                    this.createMap(mapOptions);
                    // auto zoom
                    this.helper.autoZoomActive(this.mapView.cid, 'markers:true');
                    // create markers collection
                    var markerCollection = new ctpMarkers([
                        new ctpMarker({
                            lat: parseFloat(47.021870),
                            lon: parseFloat(-1.054070),
                            isClickable: true,
                            title: 'Le longeron',
                            image: '../bundles/app/images/marker.png'
                        }),
                        new ctpMarker({
                            lat: parseFloat(47.028070),
                            lon: parseFloat(-0.942741),
                            isClickable: false,
                            title: 'Saint-Christophe-du-Bois',
                            image: '../bundles/app/images/marker.png'
                        })
                    ]);
                    this.mapView.markersOnMap(markerCollection);
                }
            </pre>
        </div>
    </div>
</section>
<section>
    <div id="{{ namespace }}polyline">
        <header class="major">
            <h2>Tracer un Polyline</h2>
        </header>
        <div id="polyline"></div>
        <p>Voici un exemple de fonction à utiliser pour créer des polylines sur la carte. </p>
        <div>
            <pre>
                createPolylinesOnMap: function()
                {
                    var mapOptions = {
                        'divId': 'polyline',
                        'centerX': 47.219014,
                        'centerY': -1.553714,
                        'zoom': 12
                    };
                    this.createMap(mapOptions);
                    // auto zoom
                    this.helper.autoZoomActive(this.mapView.cid, 'polylines:true');
                    // create polylines collection
                    var polylineCollection = new ctpPolylines([
                        new ctpPolyline({
                            path: [
                                {
                                    'lat': 47.021870,
                                    'lon': -0.942741
                                },
                                {
                                    'lat': 47.011870,
                                    'lon': -0.902741
                                },
                                {
                                    'lat': 47.011770,
                                    'lon': -0.902741
                                },
                                {
                                    'lat': 47.020870,
                                    'lon': -0.900741
                                },
                            ]
                        })
                    ]);
                    this.mapView.polylineOnMap(polylineCollection);
                }
            </pre>
        </div>
    </div>
</section>
<section>
    <div id="{{ namespace }}circle">
        <header class="major">
            <h2>Dessiner un Circle</h2>
        </header>
        <div id="circle"></div>
        <p>Voici un exemple de fonction à utiliser pour créer des cercles sur la carte. </p>
        <div>
            <pre>
                createCirclesOnMap: function()
                {
                    var mapOptions = {
                        'divId': 'circle',
                        'centerX': 47.219014,
                        'centerY': -1.553714,
                        'zoom': 12
                    };
                    this.createMap(mapOptions);
                    // auto zoom
                    this.helper.autoZoomActive(this.mapView.cid, 'circles:true');
                    // create circles collection
                    var circleCollection = new ctpCircles([
                        new ctpCircle({
                            center: this.mapView.getMapCenter(),
                            radius: parseInt(3000)
                        })
                    ]);
                    this.mapView.circlesOnMap(circleCollection);
                }
            </pre>
        </div>
    </div>
</section>